

/* スマホ向けCSS */
@media screen and (max-width:767px) {

#wrapper{
	width:100%;
	height: 100%;
	margin:0 auto;
	background-attachment:fixed;
	background-position:center center;
}

header{
	width:100%;
	background:#FFF;
	position:static;
	margin:0 auto;
	box-shadow: 0 0 5px #555;
	-moz-box-shadow: 0 0 5px #555;
	-o-box-shadow: 0 0 5px #555;
	-ms-box-shadow: 0 0 5px #555;
	filter: progid:DXImageTransform.Microsoft.Shadow(color=#aaaaaa, direction=0, strength=3, enabled=true), progid:DXImageTransform.Microsoft.Shadow(color=#aaaaaa, direction=90, strength=3, enabled=true), progid:DXImageTransform.Microsoft.Shadow(color=#aaaaaa, direction=180, strength=3, enabled=true), progid:DXImageTransform.Microsoft.Shadow(color=#aaaaaa, direction=270, strength=3, enabled=true);
}


.header_top{
	display:table;
}

.header_top h1{
	margin:0;
	padding:0;
	display:table-cell;
	width:30%;
	vertical-align:top;
	*display:inline;
	*zoom:1;
}

.header_top h1 img{
	width:90%
}

.sns{
	text-align:right;
	display:table-cell;
	width:80%;
	vertical-align:top;
	*display:inline;
	*zoom:1;
}

.sns img{
	display:inline-block;
	width:12%;
	margin:10px 10px 0 0;
	*display:inline;
	*zoom:1;
}

.gnav{
	display:none;
}

.gnav_sp{
	display:block;
	width:100%;
}

.gnav_sp ul{
	list-style:none;
	display:table;
	border-collapse:separate;
	table-layout:fixed;
	margin:0 auto;
	padding-left:15%;
	width:80%;
}

.gnav_sp li{
	display:table-cell;
	*display:inline;
	*zoom:1;
}

.gnav_sp li img{
	width:65%;
}

#main_contents{
	width:100%;
	background:rgba(255,255,255,.9);
	height:auto;
	margin:0 auto;
}

.first_view_pc{
	display:none;
}

.first_view_sp{
	display:block;
	width:100%;
}

.first_view_sp img{
	width:100%;
}

#contents01{
	width:100%;
	height:auto;
	margin:0 auto;
}

#contents01 h1 span{
	display:block;
	width:95%;
	margin:0 auto;
	color:#3B3518;
	font-size:150%;
}

#contents01 h1 img{
	display:none;
}

#about_minpaku{
	max-width:100%;
	margin:0 auto;
	padding:3% 0;
}

.about_minpaku_lr{
	display:block;
}

.about_minpaku_l,
.about_minpaku_r{
	display:block;
	vertical-align:middle;
	width:90%;
	margin:0 auto;
}

.about_minpaku_l p{
	width:90%;
	margin:0 auto;
}

.about_minpaku_r img{
	width:100%;
	margin:0 auto;
}

#contents02{
	width:100%;
	background:#FFFFFF;
	height:auto;
	padding:10% 0;
}

#contents02 h1,
#contents02 h2{
	width:95%;
	margin:0 auto;
}

#contents02 h1 img,
#contents02 h2 img{
	display:none;
}

#contents02 h1 span{
	display:block;
	width:98%;
	margin:5% auto;
	color:#57B78F;
	font-size:120%;

}

#contents02 h2 span{
	display:block;
	width:98%;
	margin:10% auto 5%;
	color:#FFFFFF;
	background:#57B78F;
	border-radius:20px;
	font-size:98%;
	text-align:center;
}

#plan01,
#plan02{
	width:100%;
	margin:0 auto;
	padding:3% 0;
}

.plan01_lr,
.plan02_lr{
	display:block;
}

.plan01_l,
.plan02_l{
	width:90%;
	margin:0 auto;
	display:block;
}

.plan01_r,
.plan02_r{
	width:90%;
	margin:0 auto;
	display:block;
}

.plan01_l img,
.plan02_l img{
	width:100%;
	margin:0 auto;
}

.plan01_r p,
.plan02_r p{
	width:90%;
	margin:0 auto;
}

.plan01_schedule_detail,
.plan02_schedule_detail{
	display: block;
}

.plan01_schedule,
.plan02_schedule{
	margin-top:5%;
}

.plan01_schedule_detail .number,
.plan02_schedule_detail .number{
	display: inline-block;
	width:20%;
	vertical-align: middle;
}

.plan01_schedule_detail .text,
.plan02_schedule_detail .text{
	display: inline-block;
	width: 70%;
	vertical-align: middle;
  padding-right: 1%;
}

.plan01_schedule_detail .gazou,
.plan02_schedule_detail .gazou{
	display: table-cell;
	width: 60%;
}

.gazou img{
	width:100%;
}

.reservation-contents{
	display: block;
}

.site-text{
	display: block;
	width: 90%;
	font-weight: bold;
	margin-top: 3%;
	margin: 0 auto;
	font-size: 85%;
}

.site-gazou{
	display: block;
	width: 90%;
	margin: 0 auto;
}

.site-gazou img{
	width: 100%;
}

footer{
	bottom: 0;
	height: 5em;
	line-height: 5em;
	position: absolute;
	text-align:center;
	padding:0;
	width:100%;
	background-color: #808080;
}

footer small{
	font-size:70%;
	margin:0 auto;
	color:#FFFFFF;
}

#anchor_link{
  right: 0px;
}

}